<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dsafa.WpfColorPicker" version="1.2.0" targetFramework="net472" />
  <package id="GoogleCast" version="1.6.7" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.1.5" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Zeroconf" version="3.0.30" targetFramework="net472" />
</packages>