._button
{
    width: 100px;
    background-color: wheat;
    margin: 20px;
    padding: 10px;
    text-align: center
}

._text
{
    width: 400px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    border: solid 1px silver
}